<%= javascript 'content/content.js' %>

<%= wizard_header 2, _("Select source type"), _("Select content"), _("Create") %>
<%= form_for Content::ContentViewFactory.new, :url => hash_for_new_content_view_path, :class => 'form-horizontal well', :method => :get do |f| %>
  <%= f.hidden_field :id, :value => @hostgroup.id %>
  <%= f.hidden_field :type, :value => 'hostgroup' %>
  <%= select_f f, :parent_cv, @hostgroup.parent.try(:content_views) || [], "id", "name",
               :label => _("Parent Content view") %>
  <h5>Products</h5>
  <% @hostgroup.products.each do |product| %>
    <%= select_f f, :product_cvs, product.content_views, "id", "name", {}, :label => product.name %>
  <% end %>

  <%= next_or_cancel hash_for_new_content_view_path() %>
<% end %>
